body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.2em;
    line-height: 1.4em;
    color: #333;
    text-align: justify;
    text-justify: inter-word;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

/*style for projects page*/
.project {
    border: 1px solid grey;
    padding: 20px;
    text-align: justify;
    text-justify: inter-word;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin-bottom: 20px;
}

.project .name {
    font-size: 2em;
}

.project img {
    width: 30%;
    padding: 5px;
}

.img_left {
    float: left;
}
.img_right {
    float: right;
}

.project .duration {
    font-style: italic;
    color: #444444;
}

.project .subproject {
    display: inline-block;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 40%;
    float: none;
    text-align: justify;
    text-justify: inter-word;

}
.project .subproject img{
    float: none;
    width: 100%;
}

/*style for social media buttons*/
.fa {
  padding: 10px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 10%;
  opacity: 0.8;
}

.fa:hover {
    opacity: 1;
    text-decoration: none;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google-plus {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-quora {
  background: #AA2200;
  color: white;
}

.fa-github {
  background: #333;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}
